.stat-card {
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 12px;
	flex: 1;
	white-space: nowrap;
}

.stat-label {
	color: #fff;
}

.stat-value {
	color: var(--accent-clr);
	font-size: 2rem;
	font-weight: 700;
}
