.pag-btn {
	background: hsl(0, 0%, 95%);
	border-radius: 25px;
	width: 40px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 600;
	&--active {
		background: #000;
		color: #fff;
	}
}

.delete-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background: rgb(253, 212, 207);
	color: rgb(222, 92, 77);
	padding: 25px;
	width: min(100%, 500px);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	opacity: 0;
	pointer-events: none;

	&--visible {
		opacity: 1;
		pointer-events: auto;
	}
}

.leads-tr {
	// background: rgb(238, 252, 223);
}
