.sidebar {
	padding: 10px;
	min-width: max-content;
	height: calc(100svh - 20px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	border-radius: 15px;

	&--collapsed {
		width: 70px;

		.sidebar__logo span,
		.label {
			opacity: 0;
			width: 0;
			overflow: hidden;
		}

		.sidebar-nav__link {
			justify-content: center;
			padding: 0;
		}
	}
}

.sidebar-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.sidebar__logo {
	color: #fff;
	font-size: 2rem;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.sidebar-nav__link {
	font-weight: 500;
	min-width: 50px;
	width: 100%;
	height: 50px;
	border-radius: 12px;
	padding: 0 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	white-space: nowrap;
	color: #ffffff;

	&--active {
		// background: #4c2e2e;
		background: rgba(255, 255, 255, 0.1);
		color: #ffffff;
	}
}

.label {
	display: none;
}

.logout-btn {
	position: relative;
	background: var(--accent-clr);
	color: #000;
	width: 100%;
	padding: 0.75rem;
	font-weight: 500;
	border-radius: 12px;
	margin-top: auto;
	overflow: hidden;
}

@media screen and (width < 700px) {
	.sidebar {
		display: none;
	}
}
