:root {
	--accent-clr: #ffa600;
	--secondary-accent-clr: #fd0a9c;
	--sec-accent-clr: rgb(226, 255, 182);
	--bg-clr: rgb(10, 1, 26);
	--bg-lighter-clr: rgb(245, 245, 245);
	--space-4: 0.25rem; /* 4px */
	--space-8: 0.5rem; /* 8px */
	--space-12: 0.75rem; /* 12px */
	--space-16: 1rem; /* 16px */
	--space-24: 1.5rem; /* 24px */
	--space-32: 2rem; /* 32px */
}

// Default
// d padding 25px m 10px
